
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
@font-face { font-family: Cinzel Decorative; src: url('/assets/fonts/CinzelDecorative-Regular.ttf'); } 
@font-face { font-family: MR Eaves SC Remake Medium; src: url('/assets/fonts/MrEavesSCRemakeMedium.otf'); }
@font-face { font-family: Bookinsanity; src: url('/assets/fonts/Bookinsanity.otf'); } 
.content {
    max-width: 1000px;
}
